# Code owners for the entire project
# Waiting to accept invitation: @SorjuanaDev @Aiedonknow @leilalasherz

*       @Liamschoolprogramming @AlirieGray @JoelioBrolio @petangvil @systeminabox @N0vasw @Speeedman @ScarletKnuckles @Ronan-Ordonez @Ecko4774 @liamdeprisco1-star @N0vasw
