# Code owners for the entire project
*       @Liamschoolprogramming @AlirieGray @JoelioBrolio @petangvil @systeminabox @N0vasw @Speeedman @SorjuanaDev @Scarlet @Ronan-Ordonez @Ecko4774 @liamdeprisco1-star @Aiedonknow @leilalasherz
