# Code owners for the entire project

*       @Liamschoolprogramming @AlirieGray @JoelioBrolio @petangvil @systeminabox @N0vasw @Speeedman @ScarletKnuckles @Ronan-Ordonez @Ecko4774 @liamdeprisco1-star @N0vasw @SorjuanaDev @Aiedonknow @leilalasherz
